<header>
  <h1 class="logo">برق یار</h1>

  <div class="off-screen-menu">
    <ul>
      <li class="list__item">
        <a href="./pages/articles.html" class="list__link">مقاله ها</a>
      </li>
      <li class="list__item">
        <a href="#" class="list__link">دانلود اپلیکیشن</a>
      </li>
      <li class="list__item">
        <a href="#" class="list__link">درباره ما</a>
      </li>
      <li class="list__item">
        <a href="./pages/call-us.html" class="list__link">ارتباط با ما</a>
      </li>
    </ul>
  </div>

  <nav>
    <div class="menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
