<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Menu</title>
  </head>
  <body>
    <div class="off-screen-menu">
      <ul>
        <li class="list__item">
          <a href="#" class="list__link">مقاله ها</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">دانلود اپلیکیشن</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">باشگاه مشتریان</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">درباره ما</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">ارتباط با ما</a>
        </li>
      </ul>
    </div>

    <nav>
      <div class="menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </body>
</html>
